@import "../../styles/variables";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 28px 45px 39px;

  .label {
    color: $primary-black;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  .input {
    border: 1px solid $secondary-black;
    border-radius: 6px;
    color: $primary-black;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding: 12px 14px;
    width: 572px;
  }

  .date-container {
    display: flex;
    flex-direction: row;
    gap: 40px;

    .input {
      width: 251px;
    }
  }

  .color-selection-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .hidden-error {
    display: none;
  }

  .error {
    color: $red;
    display: block;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    position: absolute;
  }
}

.form-options-container {
  border-top: 1px solid $tertiary-black;
  display: flex;
  justify-content: space-between;
  padding: 35px 28px 0 39px;

  .options-container {
    display: flex;
    gap: 14px;
  }
}
