@import "../../styles/variables";

.content-header-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0;

  .date {
    color: $black;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
  }
}
