@import "../../styles/variables";

.calendar-header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 55px 0 56px;

  .year {
    color: $white;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 800;
    line-height: 65px;
  }

  .month {
    color: $white;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 600;
    line-height: 35px;
  }
}

.week-days-container {
  display: flex;
  justify-content: space-between;
  padding: 0 59px 0 54px;

  .week-day {
    color: $white;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 12px;
  }
}

.navigator-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 14px;

  .navigation-button {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 400;
  }

  .navigation-dot {
    color: $white;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
  }
}
