@import "../../styles/variables";

.calendar-header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 46px 0 140px;

  .year {
    color: $white;
    font-size: 80px;
    font-weight: 800;
    line-height: 60px;
  }

  .month {
    color: $white;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
  }
}

.week-days-container {
  display: flex;
  justify-content: space-between;
  padding: 0 59px 15px 54px;

  .week-day {
    color: $white;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 12px;
  }
}
