$white: #ffffff;
$red: #d52222;
$primary-black: #384042;
$primary-blue: #394abc;
$primary-light-blue: #ebf2ff;
$primary-grey: #626262;
$secondary-blue: #101277;
$secondary-light-blue: #d1dcf0;
$secondary-grey: #797979;
$secondary-black: rgba(49, 39, 37, 0.4);
$tertiary-black: rgba(49, 39, 37, 0.2);
$primary-gradient: linear-gradient(180deg, $secondary-blue 0%, #421f91 100%);
$secondary-gradient: linear-gradient(90deg, #ff465d 0%, #bc46ba 100%);
$tertiary-gradient: linear-gradient(90deg, #3bc6fb 0%, #00ffcc 100%);
