$white: #ffffff;
$black: #384042;
$red: #D52222;
$primary-blue: #394ABC;
$primary-light-blue: #ebf2ff;
$primary-grey: #626262;
$secondary-blue: #101277;
$secondary-light-blue: #D1DCF0;
$secondary-grey: rgba(49, 39, 37, 0.4);
$divider: rgba(49, 39, 37, 0.2);
$primary-gradient: linear-gradient(180deg, $secondary-blue 0%, #421F91 100%);
$secondary-gradient: linear-gradient(90deg, #FF465D 0%, #BC46BA 100%);