@import "../../styles/variables";

.calendar-body-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 18px 59px 20px 50px;

  .days-container,
  .friday-container,
  .thursday-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  .friday-container {
    margin: 0 10px;
  }

  .thursday-container {
    margin-right: 0;
  }
}

.company {
  bottom: 30px;
  color: $white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  left: 116px;
  line-height: 15px;
  position: absolute;
  text-align: center;
}
